@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: "Rubik Doodle Shadow";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}